/*
 * Main
 */
.app {
	width: 100%;
	height: 100%;
	font-family: 'Karla', sans-serif;
}
.app .invisible {
	display: none;
}

/*
 * UI
 */
.app .button {
	padding: 10px 20px;
	margin-left: 10px;
	border-radius: 4px;
	display: inline-block;
	background: #ccc;
	text-align: center;
	vertical-align: 4px;
}
.app .button:hover {
	cursor: pointer;
}
.app .button.green {
	background: #7ccc4f;
}
.app .button.big {
	margin: 0;
	padding: 14px 0;
	width: 500px;
}

/*
 * Header
 */
.app header {
	padding: 25px 25px 0 25px;
	width: 100%;
	box-sizing: border-box;
}
.app header .title {
	font-size: 32px;
	display: inline-block;
}

/*
 * Container
 */
.app .container {
	padding: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.app .container .product-item {
	margin: 5px;
	width: 25%;
	height: 300px;
	background: #f1f1f1;
	flex: 1 1 auto;
	border: 1px #afafaf solid;
	text-align: center;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}
.app .container .product-item div {
	font-size: 22px;
	margin-bottom: 6px;
}
.app .container .product-item div:nth-child(1) {
	margin-top: 94px;
}
.app .container .product-item:hover {
	background: #fafafa;
}
.app .container .product-not-found {
	padding: 4px;
	font-size: 48px;
}

/*
 * Modal
 */
.app .modal-add-product {
	padding: 25px;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	box-sizing: border-box;
	z-index: 10;
}

/*
 * Form
 */
.app .form-add-product label {
	margin-bottom: 4px;
	display: block;
	font-size: 20px;
}
.app .form-add-product input,
.app .form-add-product select {
	margin-bottom: 10px;
	height: 48px;
	width: 500px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 28px;
}
.app .form-add-product .response-row {
	margin-bottom: 20px;
	width: 500px;
	height: 40px;
	line-height: 38px;
	text-align: center;
}
.app .form-add-product .response-row.red {
	background: #ffb7bc;
}
.app .form-add-product .response-row.green {
	background: #a8ffa8;
}
.app .form-add-product .form-row .error {
	margin-left: 10px;
	color: #c60c30;
}

/*
 * Other
 */
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}